.chat {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 20px;

  @include media-rules(desktop) {
    padding: 120px 40px;
    gap: 40px;
  }

  .header {
    padding: 0 10px;
  }

  .messages {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media-rules(desktop) {
      width: 70%;
      margin: 0 auto;
    }
  }

  .messageContent {
    display: flex;
    align-items: center;
    gap: 10px;

    @include media-rules(desktop) {
      gap: 20px;
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--white);

    &.currentUser {
      align-self: flex-end;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: var(--blue);
    }

    &.chatPartner {
      align-self: flex-start;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: var(--grafite);
    }

    @include media-rules(desktop) {
      padding: 10px 20px;
      border-radius: 4px;
      width: 70%;
      gap: 20px;
    }
  }

  .avatar {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--logo-shadow);
    min-width: 50px;
    height: 50px;
  }

  .timestamp {
    font-size: 12px;
  }

  .editContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .editMessage {
    width: 260px;
    font-family: var(--font-family);
    background-color: var(--grafite);
    color: var(--white);
    padding: 8px;
    resize: none;
    overflow: hidden;

    @include media-rules(desktop) {
      width: 800px;
      height: 100px;
      border-radius: 4px;
    }
  }

  .textarea {
    width: 100%;
    height: 160px;
    resize: none;
    font-family: var(--font-family);
    padding: 8px;
    background-color: var(--grafite);
    color: var(--white);
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 4px;

    &::placeholder {
      color: var(--white);
    }

    @include media-rules(desktop) {
      height: 200px;
      padding: 20px;
    }
  }

  .send {
    display: flex;
    padding: 10px;
    justify-content: center;

    @include media-rules(desktop) {
      padding: 0;
    }
  }

  .menuWrapper {
    position: relative;
    cursor: pointer;
  }

  .editButtons {
    display: flex;
    gap: 10px;
  }

  .menu {
    position: absolute;
    display: flex;
    top: 120%;
    right: 10px;
    flex-direction: column;
    gap: 2px;
    z-index: 100;

    @include media-rules(desktop) {
      right: 20px;
    }

    .btn {
      background-color: var(--grafite);
      font-size: 12px;
      padding: 2px 8px;
      border-radius: 4px;
    }
  }

  .icon {
    font-size: 20px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @include media-rules(desktop) {
      flex-direction: row;
      gap: 20px;
      padding: 0;
    }
  }
}
