.favorite {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;

  @include media-rules(notebook) {
    padding: 120px 40px;
  }
}

.favoriteEmpty {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.favoriteInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 200px;
  background-color: var(--grafite);
  color: var(--white);
  border-radius: 50%;

  @include media-rules(notebook) {
    gap: 20px;
    width: 400px;
    height: 400px;
  }

  .text {
    font-size: 16px;
    font-weight: 600;

    @include media-rules(notebook) {
      font-size: 24px;
      font-weight: 600;
    }
  }
}

.favoriteList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.favoriteItem {
  display: flex;
  gap: 40px;
  align-items: center;
}

.description {
  width: 800px;
}

.favoriteItemInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productImage {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.icon {
  font-size: 40px;

  @include media-rules(notebook) {
    font-size: 140px;
  }
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid var(--red);
}
