.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;

  @include media-rules(tablet) {
    gap: 4px;
    padding: 10px;
  }

  @include media-rules(notebook) {
    gap: 4px;
  }

  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid var(--dark-bg);
  }

  .name {
    font-weight: 600;
  }
}
