.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;

  @include media-rules(tablet) {
    padding: 10px;
  }

  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid var(--dark-bg);

    @include media-rules(desktop) {
      width: 54px;
      height: 54px;
    }
  }

  .name {
    font-weight: 600;
  }
}
