.privacyContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;

  @include media-rules(notebook) {
    padding: 120px 40px;
    font-size: 16px;
    gap: 40px;
  }

  .text {
    font-size: 14px;
    animation: fadeIn 0.5s ease-in;

    @include media-rules(notebook) {
      font-size: 16px;
    }
  }
}

.title {
  margin: 0;
}

.privacyContent {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-rules(notebook) {
    flex-direction: row;
    gap: 40px;
    width: 70%;
    margin: 0 auto;
  }
}

.infoText {
  font-size: 14px;

  @include media-rules(notebook) {
    width: 300px;
    font-size: 16px;
  }
}

.menuInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion {
  border-radius: 8px;

  &.darkMode {
    background-color: var(--grafite);
    color: var(--white);
  }

  .icon {
    font-size: 24px;

    &.darkMode {
      color: var(--white);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mailTo {
  color: var(--red);
}
