@import 'src/styles/mixins';

.cartPage {
    padding: 20px;
}

.cartList {
    list-style: none;
    padding: 0;
}

.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cartImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cartInfo {
    margin-left: 20px;
    flex: 1;
}