@import 'src/styles/mixins';

.cart {
    padding: 32px;
    background-color: var(--light-bg);

    h2 {
        margin-bottom: 16px;
    }

    .cartItems {
        list-style: none;
        padding: 0;

        .cartItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            background-color: var(--white);
            border: 1px solid var(--light-grey);
            margin-bottom: 16px;

            .quantityControl {
                display: flex;
                align-items: center;

                button {
                    padding: 8px 16px;
                    margin: 0 8px;
                    background-color: var(--light-green);
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--dark-green);
                    }
                }

                span {
                    margin: 0 8px;
                }
            }

            button {
                padding: 8px 16px;
                background-color: var(--rose);
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: var(--dark-violet);
                }
            }
        }
    }

    .total {
        margin-top: 32px;
        font-weight: bold;
    }
}