@import 'src/styles/mixins';

.cartPage {
    padding: 40px;
}

.cartList {
    list-style: none;
    padding: 0;
}

.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cartImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.cartInfo {
    margin-left: 20px;
    flex: 1;
}

.ownerAvatar {
    border-radius: 50%;
    width: 52px;
}