@use 'src/styles/mixins' as *;

$form-padding-desktop: 100px 20px 30px 30px;
$form-padding-tablet: 20px;
$form-padding-mobile: 10px;

.formContainer {
  padding: $form-padding-mobile;
  background-color: var(--light-bg);

  @include media-rules(tablet) {
    padding: $form-padding-tablet;
  }

  @include media-rules(notebook) {
    padding: $form-padding-desktop;
  }
}

.title {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $form-padding-mobile;
  background-color: var(--white);
  gap: 20px;

  @include media-rules(tablet) {
    padding: $form-padding-tablet;
    gap: 20px;
  }

  @include media-rules(notebook) {
    padding: $form-padding-tablet;
    flex-direction: row;
    gap: 40px;
  }
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-rules(tablet) {
    gap: 20px;
  }

  @include media-rules(notebook) {
    justify-content: space-between;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    color: var(--red);
    font-size: 0.875em;
  }

  .textarea {
    height: 200px;
    padding: 10px;
    resize: none;
    font-family: var(--font-family);
    font-size: 14px;
  }

  .chars {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
  }
}

.stateGroup {
  display: flex;
  gap: 10px;

  .stateButton {
    display: flex;
    gap: 4px;
  }
}

.locationGroup {
  display: flex;
  gap: 10px;
}

.searchResults {
  position: absolute;
  background-color: var(--white);
  max-height: 200px;
  overflow-y: auto;
  width: 414px;
  z-index: 100;
  bottom: 10%;
  border: 1px solid var(--black);

  @include media-rules(tablet) {
    bottom: 100%;
  }

  @include media-rules(notebook) {
    bottom: 130px;
  }

  .resultItem {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }

    @include media-rules(tablet) {
      padding: 10px;
    }

    @include media-rules(notebook) {
      padding: 10px;
    }
  }
}

.imageDescription {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;

  .info {
    font-size: 12px;
  }
}
