@import 'src/styles/mixins';

.additionalInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
    display: block;
  }

  input {
    padding: 14px 20px;
    background-color: inherit;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--grafite);
    border: none;
    color: var(--white);

    @include media-rules(desktop) {
      width: 260px;
    }

    &::placeholder {
      color: var(--white);
    }

    &:focus {
      border-color: gold;
      outline: none;
    }
  }
}
