.followPage {
  padding: 10px;

  @include media-rules(notebook) {
    padding: 100px 40px;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;

  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid var(--dark-bg);
    box-shadow: var(--logo-shadow);
  }

  .ownerName {
    margin: 0;
    font-weight: 600;
  }
}
