.followPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;

  @include media-rules(notebook) {
    padding: 120px 40px;
    gap: 40px;
  }

  .title {
    margin: 0;
    padding: 0 10px;

    @include media-rules(notebook) {
      padding: 0;
    }
  }
}
