.catalog {
  display: flex;
  justify-content: center;
}

.button {
  padding: 4px;

  @include media-rules(tablet) {
    padding: 10px;
  }
}

.icon {
  font-size: 34px;
  color: var(--red);
  cursor: pointer;
  @include transition(all);
}
