.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;

  @include media-rules(notebook) {
    padding: 140px 40px;
    flex-direction: row;
    align-items: start;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 4px;
  width: 100%;

  @include media-rules(notebook) {
    width: 60%;
    min-height: 840px;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include media-rules(tablet) {
    flex-direction: row;
  }
}

.registerText {
  text-align: center;
  font-weight: 600;
}

.cards {
  @include media-rules(notebook) {
    width: 25%;
  }
}
