@import 'src/styles/mixins';

.searchLocation {
    position: relative;
    display: flex;
    align-items: center;

    input {
        background-color: var(--white);
        padding: 14px;
        border: 2px solid var(--black);
        outline: none;
        width: 280px;

        @media (min-width: $tablet) {
            width: 390px;
        }

        @media (min-width: $desktop) {
            width: 900px;
        }
    }

    .placeholder {
        font-size: 16px;
        color: var(--black);
    }

    .clearButton {
        background: none;
        border: none;
        cursor: pointer;
        padding: 8px;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

    .icon {
        width: 16px;
        height: 16px;
        stroke: var(--black);
    }

    .searchResults {
        background-color: var(--white);
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        z-index: 10;
        margin-top: 8px;
        border-top: none;
        border-radius: 0 0 4px 4px;

        @media (min-width: $tablet) {
            margin-top: 48px;
        }

        @media (min-width: $desktop) {
            margin-top: 152px;
        }

        .resultItem {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }
}