@import 'src/styles/mixins';

.searchLocation {
    position: relative;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        align-items: center;
    }

    .inputWrapper {
        position: relative;

        .inputPlz {
            background-color: var(--white);
            padding: 10px;
            border-bottom: 2px solid var(--black);
            border-top: 2px solid var(--black);
            border-right: 2px solid var(--black);
            outline: none;
            width: 80px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            @media (min-width: $tablet) {
                width: 80px;
                padding: 12px;
            }

            @media (min-width: $desktop) {
                width: 180px;
                padding: 12px;
                font-size: 16px;
            }
        }

        .inputCity {
            background-color: var(--white);
            padding: 10px;
            border-bottom: 2px solid var(--black);
            border-top: 2px solid var(--black);
            border-left: none;
            border-right: none;
            outline: none;
            min-width: 180px;
    
            @media (min-width: $tablet) {
                min-width: 200px;
                padding: 12px;
            }
    
            @media (min-width: $desktop) {
                min-width: 560px;
                padding: 12px;
                font-size: 16px;
            }
        }
    
        

        .clearButton {
            background: none;
            border: none;
            cursor: pointer;
            padding: 8px;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        };

        .icon {
            width: 18px;
            height: 18px;
            stroke: var(--black);

            @media (min-width: $tablet) {
                    font-size: 12px;
                }
            
                @media (min-width: $desktop) {
                    font-size: 16px;
                }
        }

        
    }
    .searchButton {
        background-color: var(--red);
        color: var(--white);
        border: 2px solid var(--black);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.5s ease;

        &:hover {
            background-color: var(--logo-yellow);
        }

        @media (min-width: $tablet) {
            padding: 12px;
        }

        @media (min-width: $desktop) {
            font-size: 16px;
            padding: 12px 40px;
        }
    }
    .searchResults {
        position: absolute;
        background-color: var(--white);
        max-height: 200px;
        overflow-y: auto;
        width: 100%;
        z-index: 10;
        margin-top: 68px;
        border-radius: 4px;
        border: 1px solid var(--black);

        .resultItem {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }
}