.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0 4px;

  @include media-rules(tablet) {
    gap: 8px;
    padding: 0;
  }

  @include media-rules(notebook) {
    gap: 8px;
  }
}

.productItem {
  display: flex;
  flex-direction: column;
  min-width: 172px;
  position: relative;
  overflow: visible;
  background-color: var(--white);
  animation: fadeIn 1s ease-in;

  @include transition(box-shadow);
  box-sizing: border-box;
  flex: 1 1 calc(50% - 4px);

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.darkMode {
    background-color: var(--grey);
  }

  @include media-rules(tablet) {
    flex-wrap: wrap;
  }

  @include media-rules(notebook) {
    flex: 1 1 calc(24.333% - 16px);
  }
}

.dateCart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product {
  display: flex;
  flex: 1;
  gap: 6px;
  flex-direction: column;

  @include media-rules(tablet) {
    flex-direction: column;
  }

  .productImage {
    position: relative;
    flex-shrink: 0;
    width: auto;
    height: 170px;

    @include media-rules(tablet) {
      width: auto;
      height: 240px;
    }

    @include media-rules(notebook) {
      width: auto;
      height: 280px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }

    .ownerViews {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      padding: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 1;
      width: 100%;
      color: var(--white);
      font-size: 16px;

      @include media-rules(notebook) {
        padding: 8px;
      }
    }

    .ownerContainer {
      display: flex;
      align-items: center;
      gap: 4px;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

      .avatar {
        border-radius: 50%;
        width: 22px;
        height: 22px;

        @include media-rules(tablet) {
          width: 20px;
          height: 20px;
        }

        @include media-rules(notebook) {
          width: 40px;
          height: 40px;
        }
      }

      .name {
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;

        @include media-rules(tablet) {
          font-size: 12px;
        }

        @include media-rules(notebook) {
          font-size: 14px;
        }
      }
    }

    .viewsQuantity {
      display: flex;
      gap: 4px;
      align-items: center;
      font-size: 10px;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

      @include media-rules(tablet) {
        font-size: 12px;
      }

      @include media-rules(notebook) {
        font-size: 14px;
      }
    }
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0 4px;

    @include media-rules(tablet) {
      padding: 10px;
    }

    @include media-rules(notebook) {
      padding: 10px;
    }
  }

  .description {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;

    @include media-rules(tablet) {
      font-size: 12px;
      max-width: 100px;
    }

    @include media-rules(notebook) {
      font-size: 14px;
      max-width: 280px;
    }
  }
}
