.productItem {
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  animation: fadeIn 1s ease-in;

  &.darkMode {
    background-color: var(--grey);
    color: var(--white);
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @include transition(box-shadow);
  min-width: 182px;

  @include media-rules(tablet) {
    padding: 0;
  }

  @include media-rules(notebook) {
    padding: 0;
  }

  .dateCart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .product {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include media-rules(tablet) {
      gap: 8px;

      &.listItem {
        flex-direction: row;
        gap: 0;
      }
    }

    @include media-rules(notebook) {
      &.listItem {
        flex-direction: row;
        gap: 0;
      }
    }

    .productImage {
      position: relative;
      width: 100%;
      height: 170px;

      &.listItem {
        @include media-rules-max(tablet) {
          height: auto;
          min-height: 320px;
        }
      }

      @include media-rules(tablet) {
        height: 240px;

        &.listItem {
          width: 40%;
          height: 240px;
        }
      }

      @include media-rules(notebook) {
        height: 280px;

        &.listItem {
          height: 280px;
        }
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }

      .ownerViews {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        width: 100%;
        color: var(--white);
        font-size: 16px;
      }

      .ownerContainer {
        display: flex;
        align-items: center;
        gap: 4px;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

        .avatar {
          border-radius: 50%;
          border: 2px solid var(--white);
          width: 22px;
          height: 22px;

          &.listItem {
            width: 40px;
            height: 40px;
          }

          @include media-rules(tablet) {
            width: 20px;
            height: 20px;
          }

          @include media-rules(notebook) {
            width: 40px;
            height: 40px;

            &.listItem {
              width: 38px;
              height: 38px;
            }
          }
        }

        .name {
          font-size: 10px;
          background-color: rgba(0, 0, 0, 0.2);
          padding: 2px 4px;
          cursor: pointer;

          &.listItem {
            font-size: 12px;
          }

          @include media-rules(tablet) {
            font-size: 12px;
          }

          @include media-rules(notebook) {
            font-size: 14px;
          }
        }
      }

      .viewsQuantity {
        display: flex;
        padding: 2px 4px;
        gap: 4px;
        align-items: center;
        font-size: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

        &.listItem {
          font-size: 12px;
        }

        @include media-rules(tablet) {
          font-size: 12px;
        }

        @include media-rules(notebook) {
          font-size: 14px;
        }

        .icon {
          font-size: 12px;

          &.listItem {
            font-size: 14px;
          }

          @include media-rules(notebook) {
            font-size: 18px;
          }
        }
      }
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      padding: 0 4px;

      &.listItem {
        gap: 4px;
      }

      @include media-rules(tablet) {
        padding: 0 10px 10px;

        &.listItem {
          padding: 10px 10px;
        }
      }

      @include media-rules(notebook) {
        padding: 0 10px 10px;

        &.listItem {
          padding: 10px 20px;
        }
      }
    }

    .titleDescription {
      &.listItem {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }

    .description {
      font-size: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;

      &.listItem {
        font-size: 14px;
        max-width: 86%;
      }

      @include media-rules(tablet) {
        font-size: 12px;
        max-width: 100px;

        &.listItem {
          font-size: 14px;
          white-space: wrap;
          max-width: 100%;
          overflow-y: auto;
          max-height: 144px;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      @include media-rules(notebook) {
        font-size: 14px;
        max-width: 280px;

        &.listItem {
          white-space: wrap;
          max-width: 96%;
          max-height: 164px;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    .tooltipWrapper {
      position: relative;
      display: inline-block;

      &:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }

    .expandButtonContainer {
      visibility: visible;

      @include media-rules(tablet) {
        visibility: visible;

        &.listItem {
          visibility: visible;
        }
      }

      @include media-rules(notebook) {
        visibility: visible;

        &.listItem {
          visibility: visible;
        }
      }
    }

    .expandButton {
      cursor: pointer;

      .icon {
        font-size: 18px;

        @include media-rules(notebook) {
          font-size: 20px;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
