@import "src/styles/mixins";

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;

  @include media-rules(tablet) {
    gap: 10px;
    justify-content: space-between;
  }

  @include media-rules(desktop) {
    gap: 10px;
    justify-content: space-between;
  }
}
