.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;

  @include media-rules(tablet) {
    gap: 10px;
    justify-content: space-between;
  }

  @include media-rules(notebook) {
    gap: 10px;
    justify-content: space-between;
  }
}
