@import 'src/styles/mixins';

.cartPriceContainer {

    .cartPrice {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .priceContainer {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .priceInUAH {
        font-size: 16px;
    }

    .productPrice {
        color: var(--red);
        font-weight: bold;
        font-size: 20px;
    }

    .addedDate {
        font-size: 14px;
        color: var(--grey);
    }
}