$padding-desktop: 40px;
$padding-tablet: 16px;
$padding-mobile: 24px 0;

.productListWrapper {
  padding: $padding-mobile;

  @include media-rules(tablet) {
    padding: $padding-tablet;
  }

  @include media-rules(notebook) {
    padding: $padding-desktop;
  }
}

.title {
  padding: 0 10px;

  @include media-rules(notebook) {
    padding: 0;
  }
}
