.productListWrapper {
  display: flex;

  @include media-rules(notebook) {
    justify-content: space-between;
  }
}

.vipProductList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-rules(tablet) {
    width: 100%;
  }

  @include media-rules(notebook) {
    width: 100%;
  }
}

.title {
  padding: 0 10px;
  margin: 0;

  @include media-rules(notebook) {
    padding: 0;
  }
}
