@import 'src/styles/mixins';

$product-list-padding-desktop: 10px 40px 20px;
$product-list-padding-tablet: 16px;
$product-list-padding-mobile: 4px;

.productList {
    background-color: var(--light-bg);
    padding: $product-list-padding-mobile;

    

    @media (min-width: $tablet) {
        padding: $product-list-padding-tablet;
    }

    @media (min-width: $desktop) {
        padding: $product-list-padding-desktop;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.list .container {

        @media (min-width: $desktop) {
            width: 60%;
            margin: 0 auto;
        }

    }
}