@import 'src/styles/mixins';

$product-list-padding-desktop: 10px 20px;
$product-list-padding-tablet: 16px;
$product-list-padding-mobile: 4px;

.productListWrapper {
    display: flex;
    
    @media (min-width: $tablet) {
        justify-content: flex-start;
    }

    @media (min-width: $desktop) {
        justify-content: flex-start;
    }
}

.productList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: $product-list-padding-mobile;    

    @media (min-width: $tablet) {
        padding: $product-list-padding-tablet;
        width: 100%;
    }

    @media (min-width: $desktop) {
        padding: $product-list-padding-desktop;
        width: 74%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4px;

        @media (min-width: $desktop) {
            padding: 0;
        }

        .title {
            font-size: 14px;

            @media (min-width: $desktop) {
                font-size: 16px;
            }
        }
    }

    &.list .container {

        @media (min-width: $desktop) {
            width: 72%;
            margin: 0 auto;
        }

    }
}