@import 'src/styles/mixins';

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;

    select {
        font-size: 14px;
        font-family: var(--font-family);

        @media (max-width: $tablet) {
            font-size: 12px;
        }

        @media (max-width: $desktop) {
            font-size: 14px;
        }

        &:focus {
            outline: none;
        }
    }

    span {
        color: var(--red);
        font-size: 0.875em;
    }
}