@import 'src/styles/mixins';

$padding-desktop: 40px;
$padding-tablet: 20px;
$padding-mobile: 10px;

.userProducts {
    padding: $padding-desktop;
    display: flex;
    background-color: var(--light-bg);
    flex-direction: column;
    gap: 26px;

    .productsList {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .productsItem {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        gap: 20px;
        padding: 10px;

        &:hover {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        // @media (min-width: $tablet) {
        //     width: 600px;
        // }

        @media (min-width: $desktop) {
            width: 852px;
            height: auto;
        }

        .image {
            display: flex;
            gap: 10px;
            width: 180px;
            height: 170px;
            object-fit: cover;

            @media (min-width: $tablet) {
                height: 200px;
                width: 200px;
            }

            @media (min-width: $desktop) {
                height: 200px;
                width: 200px;
                object-fit: cover;
            }
        }

        .productDetails {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .namePrice {
                display: flex;
                justify-content: space-between;
                align-items: center;

            }

            .price {
                color: var(--red);
                font-size: 24px;
                font-weight: 600;
            }

            .description {
                font-size: 12px;

                @media (min-width: $tablet) {
                    font-size: 14px;
                }

                @media (min-width: $desktop) {
                    font-size: 16px;
                }
            }
        }
    }
}