@import "src/styles/mixins";

$padding-desktop: 80px 40px;
$padding-tablet: 20px;
$padding-mobile: 0 10px;

.userProducts {
  padding: $padding-mobile;
  display: flex;
  background-color: var(--light-bg);
  flex-direction: column;

  @include media-rules(tablet) {
    padding: $padding-mobile;
  }

  @include media-rules(desktop) {
    padding: $padding-desktop;
  }

  .productsList {
    display: flex;
    flex-direction: column;

    @include media-rules(tablet) {
      flex-direction: column;
    }

    @include media-rules(desktop) {
      flex-direction: column;
    }
  }

  .userInfo {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 20px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid var(--dark-bg);
    }

    .userName {
      font-weight: 600;
    }
  }
}
