$gap-desktop: 20px;
$gap-tablet: 8px;
$gap-mobile: 4px;

.categories {
  &.darkMode {
    color: var(--white);
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: $gap-desktop;

    .title {
      margin: 0;
    }

    .categoryButtons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;

      @include media-rules(notebook) {
        justify-content: start;
      }
    }

    .categoryButton {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: var(--white);
      gap: 8px;
      padding: 10px 20px;
      border-radius: 44px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &.darkMode {
        background-color: var(--grafite);
        color: var(--white);
        border: 1px solid var(--light-grey);
      }

      &:hover {
        background-color: var(--yellow);
        color: var(--white);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      &.active {
        background-color: var(--grafite);
        color: var(--white);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      svg {
        @include media-rules(tablet) {
          width: 16px;
          height: 16px;
        }

        @include media-rules(notebook) {
          width: 20px;
          height: 20px;
        }
      }
    }

    .subcategoryButton {
      display: flex;
      background-color: var(--white);
      padding: 4px 10px;
      cursor: pointer;
      border-radius: 44px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &.darkMode {
        background-color: var(--grey);
        color: var(--white);
        border: 1px solid var(--light-grey);
      }

      &:hover {
        background-color: var(--blue);
        color: var(--white);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      &.active {
        background-color: var(--grafite);
        color: var(--white);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    .subcategories {
      display: flex;

      .subcategoryButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;

        @include media-rules(notebook) {
          justify-content: start;
        }
      }
    }
  }
}
