@import 'src/styles/mixins';

.categories {
    background-color: var(--light-bg);
    padding: 40px;

    .container {
        h2 {
            margin-bottom: 16px;
        }

        .categoryButtons,
        .subcategoryButtons {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }

        .categoryButton,
        .subcategoryButton {
            display: flex;
            align-items: center;
            background-color: var(--white);
            padding: 16px;
            cursor: pointer;
            @include transition(background-color);

            &:hover {
                background-color: var(--light-green);
            }

            &.active {
                background-color: var(--light-green);
                border-color: var(--green);
            }

            svg {
                margin-right: 8px; // Відступ для іконки
            }
        }

        .subcategories {
            margin-top: 24px;

            h3 {
                margin-bottom: 16px;
            }
        }
    }
}