@import 'src/styles/mixins';

$categories-padding-desktop: 40px;
$categories-padding-tablet: 30px;
$categories-padding-mobile: 20px;

$gap-desktop: 16px;
$gap-tablet: 12px;
$gap-mobile: 8px;

.categories {
    background-color: var(--light-bg);
    padding: $categories-padding-desktop;

    @media (max-width: 1440px) {
        padding: $categories-padding-tablet;
    }

    @media (max-width: 768px) {
        padding: $categories-padding-mobile;
    }

    .container {
        h2 {
            margin-bottom: 16px;
        }

        .categoryButtons,
        .subcategoryButtons {
            display: flex;
            flex-wrap: wrap;
            gap: $gap-desktop;

            @media (max-width: 1440px) {
                gap: $gap-tablet;
            }

            @media (max-width: 768px) {
                gap: $gap-mobile;
            }
        }

        .categoryButton,
        .subcategoryButton {
            display: flex;
            align-items: center;
            background-color: var(--white);
            padding: 16px;
            cursor: pointer;
            @include transition(background-color);

            &:hover {
                background-color: var(--light-green);
            }

            &.active {
                background-color: var(--light-green);
                border-color: var(--green);
            }

            svg {
                margin-right: 8px; // Відступ для іконки
            }
        }

        .subcategories {
            margin-top: 24px;

            h3 {
                margin-bottom: 16px;
            }
        }
    }
}