.tabsLineFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabsContainer {
  display: flex;
  gap: 80px;

  @include media-rules(tablet) {
    gap: 120px;
  }
}

.tabDetails,
.tabReviews {
  background: none;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  position: relative;
  outline: none;
  color: var(--white);
  background-color: var(--grafite);
  border-radius: 44px;
  @include transition(background-color);

  @include media-rules(notebook) {
    padding: 10px 20px;
  }

  &:hover {
    background-color: var(--red);
  }
}

.tabDetails::after,
.tabReviews::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--red);
  transition:
    width 0.3s,
    left 0.3s;
  transform: translateX(-50%);
}

.active::after {
  width: 70%;
  left: 50%;
}

.tabsTitle {
  font-weight: 600;
}
