@import 'src/styles/mixins';

$padding-desktop: 40px;
$padding-tablet: 20px;
$padding-mobile: 10px;

.productsItem {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    gap: 20px;
    padding: $padding-mobile;

    &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    @media (min-width: $tablet) {
        padding: $padding-tablet;
    }

    @media (min-width: $desktop) {
        padding: $padding-desktop;
    }

    .imageDetails {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: $tablet) {
            flex-direction: row;
            align-items: flex-start;
        }

        @media (min-width: $desktop) {
            flex-direction: row;
        }
    }

    .imageContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        @media (min-width: $tablet) {
            gap: 6px;
            width: 50%;
        }

        @media (min-width: $desktop) {
            gap: 10px;
            width: 50%;
        }

        .image {
            width: 100%;
            height: 300px;
            object-fit: cover;

            @media (min-width: $tablet) {
                width: 48%;
                height: 180px;
            }

            @media (min-width: $desktop) {
                width: 48%;
                height: 320px;
            }
        }
    }

    .detailsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: $tablet) {
            width: 50%;
        }

        @media (min-width: $desktop) {
            width: 48%;
        }
    }
}

.buttonsMenu {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;

    @media (min-width: $tablet) {
        justify-content: flex-start;
        margin-top: 10px;
    }

    @media (min-width: $desktop) {
        justify-content: flex-end;
        margin-top: 20px;
    }

}



.deleteButton {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--white);
    padding: 6px;
    font-size: 14px;
    background-color: var(--red);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include transition(background-color);

    @media (min-width: $tablet) {
        font-size: 14px;
        padding: 8px;
    }

    @media (min-width: $desktop) {
        font-size: 16px;
        padding: 8px;
    }

    &:hover {
        background-color: #ffcc00;
        color: var(--white);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


    .icon {
        font-size: 24px;
    }
    

}