.PrivacyContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;

  @include media-rules(tablet) {
    padding: 20px 10px;
    font-size: 14px;
  }

  @include media-rules(notebook) {
    padding: 100px 40px;
    font-size: 16px;
  }

  .text {
    font-size: 12px;
    animation: fadeIn 0.5s ease-in;

    @include media-rules(tablet) {
      font-size: 14px;
    }

    @include media-rules(notebook) {
      font-size: 16px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mailTo {
  color: var(--red);
}
