.formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-rules(tablet) {
    gap: 10px;
  }

  .info {
    display: flex;
    gap: 4px;
    justify-content: center;

    .icon {
      font-size: 16px;
    }
  }

  select {
    width: 100%;
    padding: 14px 20px;
    background-color: inherit;
    font-size: 14px;
    border-radius: 44px;
    background-color: var(--white);
    color: var(--black);
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    appearance: none;

    &.darkMode {
      background-color: var(--grafite);
      color: var(--white);
    }

    &:focus {
      border-color: var(--white);
      outline: none;
    }
  }

  span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
}
