.menuContainer {
  position: fixed;
  gap: 20px;
  top: 0;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  width: 80%;
  height: 100vh;
  z-index: 100;

  @include media-rules(tablet) {
    width: 50%;
  }

  &.darkMode {
    background-color: var(--grafite);
    color: var(--white);
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
  }

  @include media-rules(notebook) {
    top: 0;
    right: 0;
    width: 330px;
    border-radius: 44px;
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin: 0;

  .item {
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 44px;
    @include transition(color);

    .iconItem {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    @include media-rules(notebook) {
      text-align: start;
    }

    &:hover {
      background-color: var(--grafite);
      color: var(--white);

      &.darkMode:hover {
        background-color: var(--light-grey);
        color: var(--white);
      }
    }
  }
}

.icon {
  font-size: 24px;
}

.divider {
  height: 1px;
  background-color: var(--dark-grey);
  width: 100%;

  &.darkMode {
    background-color: var(--light-grey);
  }
}

.userInfo {
  display: flex;
  gap: 10px;

  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
}
