@import 'src/styles/mixins';

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    list-style: none;

    &.grid {
        gap: 8px;
    }

    &.list {
        gap: 16px;
    }

    @media (min-width: $tablet) {
        gap: 16px;
    }

    @media (min-width: $desktop) {
        gap: 24px;
    }
}

.productItem {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    min-width: 192px;
    position: relative;
    overflow: visible;

    @include transition(box-shadow);
    box-sizing: border-box;

    &.gridItem {
        flex: 1 1 calc(50% - 8px);
    }

    &.listItem {
        flex: 1 1 100%;
    }

    @media (min-width: $tablet) {
        padding: 10px;

        &.gridItem {
            flex: 1 1 calc(33.333% - 16px);
        }

        &.listItem {
            flex: 1 1 100%;
        }
    }

    @media (min-width: $desktop) {
        &.gridItem {
            flex: 1 1 calc(25% - 16px);
        }

        &.listItem {
            flex: 1 1 100%;
        }
    }
}

.dateCart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product {
    display: flex;
    flex: 1;
    gap: 6px;
    flex-direction: column;

    @media (min-width: $tablet) {
        gap: 8px;
        flex-direction: column;
    }

    .productImage {
        position: relative;
        flex-shrink: 0;
        width: auto;
        height: 170px;

        @media (min-width: $tablet) {
            width: auto;
            height: 240px;
        }

        @media (min-width: $desktop) {
            width: auto;
            height: 280px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        .ownerViews {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            padding: 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            z-index: 1;
            width: 100%;
            color: var(--white);
            font-size: 16px;
        }

        .ownerContainer {
            display: flex;
            align-items: center;
            gap: 4px;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

            .avatar {
                border-radius: 50%;
                border: 4px solid var(--white);
                width: 16px;
                height: 16px;

                @media (min-width: $tablet) {
                    width: 20px;
                    height: 20px;
                }

                @media (min-width: $desktop) {
                    width: 30px;
                    height: 30px;
                }
            }

            .name {
                font-size: 10px;
                background-color: rgba(0, 0, 0, 0.2);
                padding: 2px 4px;
                cursor: pointer;

                @media (min-width: $tablet) {
                    font-size: 12px;
                }

                @media (min-width: $desktop) {
                    font-size: 14px;
                }
            }
        }

        .viewsQuantity {
            display: flex;
            padding: 2px 4px;
            gap: 4px;
            align-items: center;
            font-size: 10px;
            background-color: rgba(0, 0, 0, 0.2);
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

            @media (min-width: $tablet) {
                font-size: 12px;
            }

            @media (min-width: $desktop) {
                font-size: 14px;
            }
        }
    }

    .productInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 0 4px;

        @media (min-width: $tablet) {
            padding: 0;
        }

        @media (min-width: $desktop) {
            padding: 0;
        }
    }

    .description {
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;

        @media (min-width: $tablet) {
            font-size: 12px;
            max-width: 100px;
        }

        @media (min-width: $desktop) {
            font-size: 14px;
            max-width: 280px;
        }
    }

    .tooltipWrapper {
        position: relative;
        display: inline-block;

        &:hover .tooltip {
            visibility: visible;
            opacity: 1;
        }
    }

    .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: #333333;
        color: var(--white);
        text-align: center;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 12px;
        white-space: nowrap;
    }

    .expandButtonContainer {
        visibility: hidden;

        @media (min-width: $tablet) {
            visibility: visible;
        }

        @media (min-width: $desktop) {
            visibility: visible;
        }
    }

    .expandButton {
        cursor: pointer;
        transition: background-color 0.3s;

        .icon {
            font-size: 16px;

            @media (min-width: $desktop) {
                font-size: 20px;
            }
        }
    }
}

.productDescription {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 2px;
    padding: 12px 10px;
    background: var(--white);
    border: 1px solid var(--light-grey);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease, padding 0.3s ease;
    z-index: 10;

    @media (min-width: $desktop) {
        padding: 14px 12px;
    }
}

.paragraphContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    gap: 12px;

    @media (min-width: $desktop) {
        font-size: 14px;
        gap: 16px;
    }
}

.desc {
    max-height: 310px;
    overflow: auto;

    @media (min-width: $desktop) {
        max-height: 360px;
    }
}

.desc::-webkit-scrollbar {
    display: none;
}

.productDescription.visible {
    display: block;
}

.productDescription.hidden {
    display: none;
}

.locationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        font-size: 14px;

        @media (min-width: $desktop) {
            font-size: 18px;
        }
    }
}

.locationItem {
    display: flex;
    gap: 4px;
    align-items: center;
}