.list {
  display: grid;
  gap: 4px;
  padding: 0;
  list-style: none;

  &.grid {
    grid-template-columns: repeat(auto-fill, minmax(182px, 1fr));
    gap: 4px;

    @include media-rules(tablet) {
      gap: 8px;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    @include media-rules(notebook) {
      gap: 12px;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
}

.skelet {
  display: flex;

  &.gridItem {
    width: 100%;
    min-width: 767px;
    height: 180px;
  }

  &.listItem {
    min-width: 767px;
    height: 360px;
  }

  @include media-rules(tablet) {
    gap: 8px;
    min-width: 100%;
  }

  @include media-rules(notebook) {
    &.gridItem {
      min-width: 100%;
      height: 300px;
    }

    &.listItem {
      min-width: 100%;
      height: 200px;
    }
  }
}
