@use './breakpoints';

@mixin media-rules($screen) {
  @if $screen == tablet {
    @media screen and (min-width: breakpoints.$tablet) {
      @content;
    }
  } @else if $screen == notebook {
    @media screen and (min-width: breakpoints.$notebook) {
      @content;
    }
  } @else if $screen == mobile {
    @media screen and (min-width: breakpoints.$mobile) {
      @content;
    }
  } @else if $screen == desktop {
    @media screen and (min-width: breakpoints.$desktop) {
      @content;
    }
  }
}

@mixin media-rules-max($screen) {
  @if $screen == tablet {
    @media screen and (max-width: breakpoints.$tablet) {
      @content;
    }
  } @else if $screen == notebook {
    @media screen and (max-width: breakpoints.$notebook) {
      @content;
    }
  } @else if $screen == mobile {
    @media screen and (max-width: breakpoints.$mobile) {
      @content;
    }
  } @else if $screen == desktop {
    @media screen and (max-width: breakpoints.$desktop) {
      @content;
    }
  }
}

@mixin transition($property1, $property2: null) {
  $transition: $property1 0.3s linear;

  @if $property2 {
    $transition:
      $transition,
      $property2 0.3s linear;
  }

  transition: $transition;
}
