@use 'src/styles/mixins' as *;

.viewToggle {
  display: flex;
  align-items: center;
}

.viewButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 24px;
  color: var(--primary-color);
  @include transition(color);

  &.active {
    color: var(--red);
  }

  &:hover {
    color: var(--red);
  }
}

.icon {
  font-size: 16px;

  @include media-rules(notebook) {
    font-size: 20px;
  }
}
