@import 'src/styles/mixins';

$padding-desktop: 100px 40px;
$padding-tablet: 16px;
$padding-mobile: 24px 0;

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: $padding-mobile;

  @include media-rules(tablet) {
    padding: $padding-tablet;
  }

  @include media-rules(desktop) {
    padding: $padding-desktop;
  }
}

.logoTitle {
  display: flex;
  align-items: center;
  gap: 8px;

  .title {
    margin: 0;
    font-size: 16px;

    @include media-rules(tablet) {
      font-size: 20px;
    }
  }

  .logo {
    width: 44px;
    height: 44px;
  }
}

.text {
  font-size: 12px;

  @include media-rules(tablet) {
    font-size: 16px;
  }
}
