$padding-desktop: 120px 40px;
$padding-tablet: 16px;
$padding-mobile: 24px 0;

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: $padding-mobile;

  @include media-rules(tablet) {
    padding: $padding-tablet;
  }

  @include media-rules(notebook) {
    padding: $padding-desktop;
  }
}

.filterVip {
  display: flex;
  gap: 20px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
