@use 'src/styles/mixins' as *;

.logoFlex {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  animation: fadeIn 2s ease-in;
}

.splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 2s ease-out;
}

.logoSplash {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 2s ease-in;
}

.imgLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.message {
  color: var(--white);
}

.logoImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 6px 20px rgba(177, 177, 177, 0.786);
}

.logoLink {
  text-decoration: none;
}

.text {
  color: var(--white);
}

.tooltipCustom {
  margin-top: 20px;
}

.logo {
  font-size: 38px;
  font-weight: bold;
  display: flex;
  gap: 2px;
  align-items: center;
  color: var(--white);

  @include media-rules(tablet) {
    font-size: 42px;
  }

  @include media-rules(notebook) {
    font-size: 42px;
  }

  .letterU {
    font-size: 14px;
    vertical-align: super;
    color: #3586dc;

    @include media-rules(tablet) {
      font-size: 16px;
    }

    @include media-rules(notebook) {
      font-size: 18px;
    }
  }

  .letterA {
    font-size: 14px;
    color: var(--yellow);
    vertical-align: super;

    @include media-rules(tablet) {
      font-size: 16px;
    }

    @include media-rules(notebook) {
      font-size: 18px;
    }
  }
}
