@import 'src/styles/mixins';

.logoFlex {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.logoImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 6px 20px rgba(177, 177, 177, 0.786);
}

.logoLink {
  text-decoration: none;
}

.text {
  color: var(--white);
}

.logo {
  font-size: 38px;
  font-weight: bold;
  display: flex;
  gap: 2px;
  align-items: center;
  color: var(--white);

  @media (min-width: $tablet) {
    font-size: 42px;
  }

  @include media-rules(desktop) {
    font-size: 42px;
  }

  .letterU {
    font-size: 14px;
    vertical-align: super;
    color: #3586dc;

    @media (min-width: $tablet) {
      font-size: 16px;
    }

    @media (min-width: $desktop) {
      font-size: 18px;
    }
  }

  .letterA {
    font-size: 14px;
    color: var(--yellow);
    vertical-align: super;

    @media (min-width: $tablet) {
      font-size: 16px;
    }

    @media (min-width: $desktop) {
      font-size: 18px;
    }
  }
}
