.chatList {
  padding: 120px 40px;
}

.chatPartner {
  display: flex;
  align-items: center;
  gap: 10px;

  .avatar {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--logo-shadow);
    width: 50px;
    height: 50px;
  }
}
