.chats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;

  @include media-rules(tablet) {
    padding: 100px 40px;
  }
}

.title {
  padding: 10px 0;
}

.chatList {
  display: flex;
  flex-direction: column;

  gap: 10px;

  @include media-rules(tablet) {
    gap: 20px;
    margin: 0 auto;
    width: 70%;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--grafite);
  padding: 10px;
  color: var(--white);
  cursor: pointer;

  @include media-rules(desktop) {
    border-radius: 4px;
    padding: 10px 20px;
    gap: 20px;
  }

  .partnerName {
    font-weight: 600;
  }

  .avatar {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--logo-shadow);
    width: 50px;
    height: 50px;
  }

  .timestamp {
    font-size: 12px;
  }
}
