@import 'src/styles/mixins';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &.darkMode {
    background-color: var(--grey);
    color: var(--white);
  }
}

.productDescription {
  background: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 600px;

  &.darkMode {
    background-color: var(--grey);
    color: var(--white);
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 0;
    }

    .icon {
      font-size: 18px;

      @include media-rules(desktop) {
        font-size: 20px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .desc {
    max-height: 300px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .locationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .locationItem {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
