@import "src/styles/mixins";

.cartItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: var(--white);
  &:hover {
    background-color: var(--light-grey);
  }
}

.productImage {
  width: 90px;
  height: 90px;
  object-fit: cover;
  cursor: pointer;
}

.productDetails {
  display: flex;
  gap: 6px;
  padding: 6px 10px;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.productName {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 14px;

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 164px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.buyButton {
  background-color: var(--logo-yellow);
  color: var(--white);
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: #45a049;
  }
}

.removeButton {
  background-color: var(--red);
  color: #fff;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: #ff3333;
  }
}
