.googleLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 44px;
  background-color: var(--grafite);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
