.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  animation: fadeIn 0.3s ease-out;
  padding: 10px;
  background-color: var(--grafite);
  border-radius: 4px;

  @include media-rules(tablet) {
    padding: 20px;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: var(--white);
  z-index: 100;
  cursor: pointer;
  @include transition(color);

  &:hover {
    color: var(--red);
  }

  .icon {
    font-size: 24px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
