@import 'src/styles/mixins';

.button {
    padding: 12px;
    font-size: 14px;
    width: 180px;
    border: none;
    border-radius: 12px;
    background-color: var(--red);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: var(--dark-yellow);
    }
}

.buttonAdd {
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #218838;
    }
}

.buttonWrapper {
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #5a6268;
    }
}

.buttonSignIn {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    width: 160px;
    border: none;
    border-radius: 12px;
    background-color: var(--red);
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: var(--dark-yellow);
    }
}