@import 'src/styles/mixins';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.shareModal {
  background: var(--white);
  border: 1px solid var(--light-grey);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: 8px;

  &::-webkit-scrollbar {
    display: none;
  }

  &.darkMode {
    background-color: var(--grey);
    color: var(--white);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  max-height: 100vh;

  &.darkMode {
    background-color: var(--grey);
    color: var(--white);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
  }

  .closeIcon {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.noScroll {
  overflow: hidden;
}
