.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-rules-max(notebook) {
    display: none;
  }
}

.title {
  margin: 0;
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
}

.toggleHeader {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartContent {
  overflow: hidden;
  @include transition(max-height);
}

.selectedProducts {
  margin-bottom: 20px;
}
