@import 'src/styles/mixins';

.userPage {
  display: flex;
  flex-direction: column;
}

.productsProfileContainer {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}
