@use 'src/styles/mixins' as *;

.userPage {
  display: flex;
  flex-direction: column;
}

.productsProfileContainer {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include media-rules-max(tablet) {
    flex-direction: column;
  }
}
