@use 'src/styles/mixins' as *;

.userPage {
  display: flex;
  flex-direction: column;
}

.productsProfileContainer {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}
