@use 'src/styles/mixins' as *;

.formGroup {
  input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;

    @include media-rules(tablet) {
      padding: 8px;
    }

    @include media-rules(notebook) {
      padding: 10px;
    }
  }

  span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
}
