.formGroup {
  .input {
    width: 100%;
    padding: 14px 20px;
    background-color: inherit;
    font-size: 14px;
    border-radius: 44px;
    background-color: var(--white);
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &.darkMode {
      background-color: var(--grafite);
      color: var(--white);

      &::placeholder {
        color: var(--white);
      }
    }

    &::placeholder {
      color: var(--black);
    }

    &:focus {
      border-color: var(--white);
      outline: none;
    }
  }

  span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
}
