.sidebarCart {
  overflow-y: auto;
  max-height: 400px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.cartList {
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}
