.header {
  display: flex;
  align-items: center;
  background: var(--white);
  width: 100%;
  padding: 10px;

  &.darkMode {
    background-color: var(--black);
  }

  @include media-rules(tablet) {
    padding: 10px 20px;
  }

  @include media-rules(notebook) {
    padding: 10px 40px;
    position: fixed;
    z-index: 10000;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    width: 100%;

    @include media-rules(tablet) {
      flex-direction: row;
    }

    @include media-rules-max(tablet) {
      .iconUserDesktop {
        font-size: 24px;
        display: none;
      }
    }

    @include media-rules(tablet) {
      .iconUserMobile {
        font-size: 24px;
        display: none;
      }
    }

    .userMenu {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: flex-end;

      @include media-rules(tablet) {
        gap: 8px;
        padding: 0;
      }

      @include media-rules(notebook) {
        gap: 14px;
      }

      .animate {
        animation: blink 1.5s ease-in-out 1;
      }

      @keyframes blink {
        0%,
        100% {
          color: var(--red);
        }

        25%,
        75% {
          color: var(--white);
        }

        50% {
          color: var(--red);
        }
      }
    }

    .logoUserMobile {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;

      @include media-rules(tablet) {
        width: auto;
        gap: 10px;
      }

      @include media-rules(notebook) {
        width: auto;
        gap: 10px;
      }
    }

    .navigateItem {
      display: flex;
      align-items: center;

      @include media-rules(tablet) {
        flex-direction: column;
      }

      @include media-rules(notebook) {
        flex-direction: column;
      }
    }

    .userOptions {
      font-size: 12px;

      @include media-rules(tablet) {
        font-size: 14px;
      }

      @include media-rules(notebook) {
        font-size: 14px;
      }
    }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include transition(transform);

  &:hover {
    transform: scale(1.2);
  }

  @include media-rules-max(tablet) {
    font-size: 24px;
  }

  @include media-rules(notebook) {
    font-size: 24px;
  }

  &.favorite {
    color: var(--red);
  }
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: var(--logo-shadow);
  }

  span {
    font-size: 14px;
    font-weight: 500;
  }
}

.iconHome {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--white);

  @include media-rules(tablet) {
    display: none;
  }
}

.iconUserMobile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconUserDesktop {
  display: flex;
  align-items: center;
  gap: 8px;
}
