@import 'src/styles/mixins';

.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--light-bg);
    padding: 1rem 0;
}

.navList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    .navItem {
        margin: 0 1rem;

        a {
            text-decoration: none;
            color: var(--black);
            font-weight: bold;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            transition: background-color 0.3s ease;

            &.active {
                background-color: var(--light-green);
            }

            &:hover {
                background-color: var(--dark-green);
                color: var(--white);
            }
        }
    }
}