// ShareButton.module.scss

.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.icon {
  font-size: 20px;

  @include media-rules(notebook) {
    width: 28px;
  }
}
