.PhoneInput {
  --PhoneInputCountryFlag-height: 2rem;
  --PhoneInputCountryFlag-borderColor: #000;
  --PhoneInputCountryFlag-borderColor--focus: #000;
  --PhoneInputCountrySelectArrow-color: #000;
}

.invalid {
  border-color: red;
}

.valid {
  border-color: gold;
}
