@use 'src/styles/mixins' as *;

.auth {
  display: flex;
  background-color: var(--light-bg);
}

.form {
  border-radius: 4px;
  width: 260px;
  background-color: var(--white);
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.authNav {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 16px;

  .classNavLink {
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    @include transition(border-color);
    color: var(--black);

    &.active {
      border-color: var(--gold);
    }

    &:hover {
      border-color: var(--gold);
    }
  }
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  input {
    width: 100%;
    padding: 14px 20px;
    background-color: inherit;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--grafite);
    // @include transition(border-color);
    border: none;
    color: var(--white);

    &::placeholder {
      color: var(--white);
    }

    &:focus {
      border-color: gold;
      outline: none;
    }
  }

  .inputWrapper {
    position: relative;

    .eye {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
  }
}

.error {
  position: absolute;
  color: var(--red);
  font-size: 12px;
}

.checkbox {
  max-width: 12px;
}

.errorCheckbox {
  max-width: 12px;
}
