@import 'src/styles/mixins';

$gap-desktop: 40px;
$gap-tablet: 12px;
$gap-mobile: 8px;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 28px;

.details {
    display: flex;
    flex-direction: column;
    gap: $gap-mobile;

    @media (min-width: $tablet) {
        gap: $gap-tablet;
        flex: 1;
    }

    @media (min-width: $desktop) {
        gap: $gap-desktop;
    }

    .namePrice {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media (max-width: $mobile) {
            flex-direction: row;
        }

        @media (min-width: $mobile) {
            flex-direction: row;
        }

        .title {
            @media (max-width: $mobile) {
                font-size: 14px;
            }

            @media (min-width: $mobile) {
                font-size: 16px;
            }
        }
    }

    .inputField {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: var(--font-family);
        resize: none;
        height: auto;

        @media (min-width: $tablet) {
            font-size: 14px;
        }

        @media (min-width: $desktop) {
            font-size: 16px;
        }
    }

    .descriptionField {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        font-family: var(--font-family);
        resize: none;
        height: 200px;
        font-size: $font-size-small;

        @media (min-width: $tablet) {
            font-size: $font-size-medium;
        }

        @media (min-width: $desktop) {
            font-size: $font-size-large;
        }
    }

    .buttonsMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .editContainer {
        display: flex;
        justify-content: space-around;
        border: 2px solid var(--black);
        // background-color: rgb(73, 73, 73);
        // color: var(--white);
        padding: 40px 0;
        border-radius: 4px;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .categoryesContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .viewsContainer {
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .radio {
        display: flex;
        gap: 10px;
    }

    .conditionOptions {
        display: flex;
        gap: 10px;

        label {
            display: flex;
            align-items: center;
            gap: 8px;

            input[type="radio"] {
                accent-color: #007bff;
                cursor: pointer;
            }
        }
    }

    .detailsFlex {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .icon {
        font-size: 14px;
    }
}