$gap-desktop: 40px;
$gap-tablet: 12px;
$gap-mobile: 10px;

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;

  @include media-rules(tablet) {
    flex: 1;
  }

  @include media-rules(notebook) {
    font-size: 16px;
  }

  .info {
    padding: 0 10px;

    @include media-rules(notebook) {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 10px;
    }
  }

  .namePrice {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include media-rules-max(mobile) {
      flex-direction: row;
    }

    @include media-rules(mobile) {
      flex-direction: row;
    }

    .title {
      @include media-rules-max(mobile) {
        font-size: 14px;
      }

      @include media-rules(mobile) {
        font-size: 16px;
      }

      @include media-rules(tablet) {
        font-size: 20px;
      }

      @include media-rules(notebook) {
        font-size: 24px;
      }
    }
  }

  .inputField {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--font-family);
    resize: none;
    height: auto;

    @include media-rules(tablet) {
      font-size: 14px;
    }

    @include media-rules(notebook) {
      font-size: 16px;
    }
  }

  .description {
    font-size: 14px;

    @include media-rules(tablet) {
      font-size: 14px;
    }

    @include media-rules(notebook) {
      font-size: 16px;
      height: 310px;
      padding-right: 10px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 4px;
        background-color: var(--dark-bg);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--white);
      }
    }
  }

  .descriptionField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: var(--font-family);
    resize: none;
    height: 200px;
    font-size: 14px;

    @include media-rules(tablet) {
      font-size: 14px;
    }

    @include media-rules(notebook) {
      font-size: 16px;
    }
  }
}
