@import 'src/styles/mixins';

.titleFavorite {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        cursor: pointer;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
    }

    .favoriteIcon {
        cursor: pointer;

        &.favorite {
            color: red;
        }
    }
}

.cartFavorite {
    display: flex;
    gap: 10px;

    .cartIcon {
        cursor: pointer;
    }
}