@import 'src/styles/mixins';

.titleFavorite {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        cursor: pointer;

    }

    .favoriteIcon {
        cursor: pointer;

        &.favorite {
            color: red;
        }
    }
}

.cartFavorite {
    display: flex;
    gap: 10px;

    .cartIcon {
        cursor: pointer;
    }
}