.sidebar {
  width: 24%;
  padding: 4px;
  background-color: #f5f5f5;

  &.darkMode {
    background-color: var(--grafit);
    color: var(--white);
  }

  @include media-rules-max(notebook) {
    display: none;
  }
}

.office {
  text-align: center;
}

.cartSidebar {
  overflow-y: auto;
}

.toggleHeader {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartContent {
  overflow: hidden;
  @include transition(max-height);
}

.selectedProducts {
  margin-bottom: 20px;
}

.selectedProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}
