.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 22%;
  background-color: #f5f5f5;

  &.darkMode {
    background-color: var(--grafit);
    color: var(--white);
  }

  @include media-rules-max(notebook) {
    display: none;
  }
}

.office {
  text-align: center;
  margin: 0;
}

.cartSidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.toggleHeader {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartContent {
  overflow: hidden;
  @include transition(max-height);
}

.selectedProducts {
  margin-bottom: 20px;
}
