.sidebarMyAds {
  overflow-y: auto;
  max-height: 200px;

  &::-webkit-scrollbar {
    display: none;
  }

  &.darkMode {
    background-color: var(--grafite);
    color: var(--white);
  }
}

.myAdsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p {
  font-size: 14px;
}
