@import 'src/styles/mixins';

$gap-desktop: 40px;
$gap-tablet: 12px;
$gap-mobile: 8px;

$product-image-tablet-width: 400px;
$product-image-desktop-width: 600px;

.images {
    display: flex;
    flex-direction: column;
    gap: $gap-mobile;

    @media (min-width: $tablet) {
        gap: $gap-tablet;
        width: 100%;
        max-width: $product-image-tablet-width;
    }

    @media (min-width: $desktop) {
        gap: $gap-desktop;
        max-width: $product-image-desktop-width;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}