@import 'src/styles/mixins';

.footer {
    background-color: #1f1f1fd5;
    color: var(--white);
    text-align: center;
    padding: 40px;
    width: 100%;

    @media (max-width: $mobile) {
        padding: 20px;
    }
}
