@import 'src/styles/mixins';

.footer {
  background-color: var(--grey);
  color: var(--white);
  padding: 40px;
  width: 100%;

  @media (max-width: $mobile) {
    padding: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .linksContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    font-size: 16px;
    display: flex;
  }

  .adminButton {
    display: flex;
    cursor: pointer;

    &:hover {
      color: var(--red);
    }

    .icon {
      font-size: 20px;
    }
  }
}
