$padding-desktop: 120px 40px;
$padding-tablet: 0 20px;

.product {
  display: flex;
  flex-direction: column;
  padding: 0 0 80px 0;

  @include media-rules(tablet) {
    padding: $padding-tablet;
  }

  @include media-rules(notebook) {
    padding: $padding-desktop;
    gap: 40px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-rules(notebook) {
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;

    order: 1;

    @include media-rules(notebook) {
      flex-direction: column;
      padding: 0;
      height: 460px;
      order: -1;
    }
  }

  .infoFlex {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-rules(notebook) {
      gap: 10px;
    }
  }

  .productInfo {
    flex-direction: column;
    gap: 10px;

    @include media-rules(notebook) {
      width: 560px;
      height: 400px;
    }
  }

  .gallery {
    padding: 0 10px;
    width: auto;

    @include media-rules(notebook) {
      padding: 0;
      width: 500px;
    }
  }

  .detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--light-grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    @include media-rules(notebook) {
      gap: 8px;
      font-size: 16px;
      padding: 10px;
      border-radius: 4px;
    }

    .icon {
      font-size: 16px;

      @include media-rules(notebook) {
        font-size: 24px;
      }
    }
  }

  .buttonWrapper {
    padding: 0 10px;

    @include media-rules(notebook) {
      padding: 0;
    }
  }

  .icons {
    display: flex;
    align-items: сenter;
    gap: 4px;
  }
}
