@import 'src/styles/mixins';

$productDetail-padding-desktop: 40px;
$productDetail-padding-tablet: 30px;
$productDetail-padding-mobile: 20px;

$gap-desktop: 16px;
$gap-tablet: 12px;
$gap-mobile: 8px;

.productDetails {
    background-color: var(--light-bg);
    padding: $productDetail-padding-mobile;

    @media (min-width: $tablet) {
        padding: $productDetail-padding-tablet;
    }

    @media (min-width: $desktop) {
        display: flex;
        gap: 40px;
        padding: $productDetail-padding-desktop;
    }

    .images {
        display: flex;
        flex-direction: column;
        gap: $gap-mobile;

        @media (min-width: $tablet) {
            gap: $gap-tablet;
        }

        @media (min-width: $desktop) {
            gap: $gap-desktop;
            width: 600px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .namePrice {
        display: flex;
        gap: 250px;
        justify-content: space-between;
    }

    .details {
        display: flex;
    }
}