@import 'src/styles/mixins';

$padding-desktop: 80px 40px;
$padding-tablet: 0 20px;
$padding-mobile: 20px;

.product {
  display: flex;
  flex-direction: column;

  @include media-rules(tablet) {
    padding: $padding-tablet;
  }

  @include media-rules(desktop) {
    padding: $padding-desktop;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media-rules(tablet) {
      flex-direction: row;
      gap: 0;
    }

    @include media-rules(desktop) {
      flex-direction: row;
      gap: 20px;
    }

    .gallery {
      padding: 20px;
      border-radius: 8px;
      background-color: var(--white);
      width: 50%;
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include media-rules(tablet) {
        width: 50%;
      }
    }
  }
}
