@import 'src/styles/mixins';

.userPage {
    display: flex;
    flex-direction: column;
}

.productsProfileContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media (max-width: $tablet) {
        flex-direction: column;
    }
}

.sidebar {
    position: fixed;
    right: 0;
    height: auto;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: transform 0.3s ease-in-out;

    @media (max-width: $tablet) {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 0;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (min-width: $tablet) {
        gap: 20px;
        flex-direction: row;
    }

    @media (min-width: $desktop) {
        gap: 20px;
        flex-direction: column;
    }
}

.addButton,
.profileButton {
    font-size: 24px;
    cursor: pointer;
    color: var(--black);
}

.addButton:hover,
.profileButton:hover {
    color: var(--red);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    @media (max-width: $tablet) {
        align-items: flex-start;
    }
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.form {
    width: auto;
    max-height: 90vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;

    @media (min-width: $desktop) {
        max-height: none;
        overflow-y: hidden;
    }

    @media (max-width: $tablet) {
        width: 100%;
    }
}

.closeButton {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 18px;
    cursor: pointer;

    @media (min-width: $tablet) {
        top: 10px;
        right: 10px;
    }

    @media (min-width: $desktop) {
        top: 14px;
        right: 14px;
        font-size: 20px;
    }
}

.profile {
    width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    position: relative;

    @media (max-width: $tablet) {
        width: 100%;
        padding: 10px;
    }
}