@use 'src/styles/mixins' as *;

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 4px;

  @include media-rules(notebook) {
    width: 680px;
    padding: 10px 0;
    gap: 20px;
  }
}

.title {
  margin: 0;
}

.commentList {
  display: flex;
  flex-direction: column;

  gap: 4px;
  flex: 1;

  overflow-y: auto;

  @include media-rules(notebook) {
    max-height: 1000px;
    gap: 20px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .avatarName {
    display: flex;
    gap: 8px;
  }
}

.name {
  font-weight: 600;
  font-size: 12px;

  @include media-rules(notebook) {
    font-size: 16px;
  }
}

.text {
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  background-color: var(--light-bg);
  border-radius: 8px;

  @include media-rules(notebook) {
    font-size: 16px;
    padding-left: 20px;
  }
}

.replyText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  font-weight: 400;
  font-size: 12px;
  background-color: var(--light-bg);
  border-radius: 8px;

  @include media-rules(notebook) {
    font-size: 16px;
    padding-left: 60px;
  }
}

.reply {
  padding: 20px 0;
}

.button {
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.userContainer {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.replieContainer {
  display: flex;
  gap: 8px;
  padding-left: 48px;
}

.addComment {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.editForm {
  padding-left: 48px;
}

.firstComment {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  background-color: var(--white);

  border-radius: 4px;

  @include media-rules(notebook) {
    padding: 20px;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include media-rules(notebook) {
    padding: 20px;
    gap: 10px;
  }
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid var(--dark-bg);
  box-shadow: 0 6px 20px rgba(177, 177, 177, 0.786);
}

.iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    font-size: 28px;
  }
}

.textarea {
  width: 100%;
  resize: none;
  font-family: var(--font-family);
  padding: 8px;
}

.dateTime {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;

  @include media-rules(notebook) {
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
}

.deleteButton {
  font-size: 12px;

  @include media-rules(notebook) {
    font-size: 14px;
  }
}

.commentForm {
  display: flex;
  flex-direction: column;
}

.addContainer {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border: 1px solid #ddd;

  @include media-rules(notebook) {
    padding: 10px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 28px;

  @include media-rules(tablet) {
    font-size: 30px;
  }

  @include media-rules(notebook) {
    font-size: 34px;
    @include transition(transform);

    &:hover {
      transform: scale(1.2);
    }
  }
}
