@import 'src/styles/mixins';

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  width: 560px;
}

.commentList {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  flex: 1;
  max-height: 340px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .avatarName {
    display: flex;
    gap: 8px;
  }
}

.name {
  font-weight: 600;

  .text {
    font-weight: 400;
  }
}

.userContainer {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.addComment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment {
  border-bottom: 1px solid #ddd;

  .text {
    @include media-rules($desktop) {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--dark-bg);
}

.iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    font-size: 28px;
  }
}

.textarea {
  width: 100%;
  resize: none;
  font-family: var(--font-family);
  padding: 10px;
}

.dateTime {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.commentForm {
  display: flex;
  flex-direction: column;

  .textarea {
    width: 468px;
    height: 80px;
  }
}

.addContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 28px;

  @media (min-width: $tablet) {
    font-size: 30px;
  }

  @include media-rules(desktop) {
    font-size: 34px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
