.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  gap: 20px;

  @include media-rules(notebook) {
    padding: 10px 0;
    gap: 40px;
  }
}

.title {
  margin: 0;
}

.commentList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  overflow-y: auto;
  max-height: 600px;

  @include media-rules(notebook) {
    gap: 20px;
    margin: 0 auto;
    width: 70%;
    max-height: 800px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .avatarName {
    display: flex;
    gap: 8px;
  }
}

.name {
  font-weight: 600;
  font-size: 14px;

  @include media-rules(notebook) {
    font-size: 16px;
  }
}

.text {
  font-weight: 400;
  font-size: 14px;

  @include media-rules(notebook) {
    font-size: 16px;
  }
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  @include media-rules(notebook) {
    gap: 10px;
  }
}

.replies {
  padding-left: 40px;

  @include media-rules(notebook) {
    padding-left: 100px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.addComment {
  display: flex;
  width: 90%;
  position: relative;
  background-color: var(--white);
  display: flex;
  border-radius: 44px 44px 0 44px;
  gap: 20px;
  padding: 10px;
  margin: 0 auto;

  &.darkMode {
    background-color: var(--grafite);
  }

  @include media-rules(notebook) {
    gap: 20px;
    width: 80%;
    padding: 20px;
  }
}

.add {
  padding: 4px;
  border-radius: 50%;
  background-color: var(--grafite);
  color: var(--white);
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 300px;

  @include media-rules(notebook) {
    width: 600px;
  }
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 0 44px;
  align-self: flex-start;
  max-width: 90%;

  @include media-rules(notebook) {
    gap: 8px;
  }
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    font-size: 28px;
  }
}

.textarea {
  width: 100%;
  overflow: hidden;
  height: auto;
  resize: none;
  font-family: var(--font-family);
  background-color: inherit;
  font-size: 14px;
  border: none;
  outline: none;
  color: var(--black);
  transition: height 0.2s ease-in-out;

  &.darkMode {
    color: var(--white);
  }

  @include media-rules(desktop) {
    font-size: 16px;
    height: auto;
  }
}

.noComments {
  display: flex;
  justify-content: center;
  text-align: center;
}

.commentForm {
  display: flex;
  flex-direction: column;
}

.addContainer {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border: 1px solid #ddd;

  @include media-rules(notebook) {
    padding: 10px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;

  @include media-rules(notebook) {
    @include transition(transform);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.emoji {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.emojiPickerContainer .EmojiPickerReact {
  border: none;
  --epr-bg-color: var(--grafite);
  --epr-category-label-bg-color: var(--grafite);
  --epr-text-color: var(--white);
  --epr-bg-color-search: var(--grafite);
  --epr-search-input-bg-color: var(--grafite);
}

.loginPrompt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
