.followers {
  width: 100%;
  margin: 0 auto;

  @include media-rules(tablet) {
    width: 70%;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--dark-bg);
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid var(--dark-bg);
  box-shadow: var(--logo-shadow);
}
