.followers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;

  @include media-rules(desktop) {
    gap: 40px;
    padding: 120px 40px;
  }
}

.title {
  margin: 0;
  padding: 0 10px;

  @include media-rules(desktop) {
    padding: 0;
  }
}

.followContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-rules(desktop) {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 70%;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  @include media-rules(desktop) {
    padding: 0;
    min-width: 220px;
  }

  .avatar {
    width: 100px;
    height: 100px;

    @include media-rules(desktop) {
      width: 160px;
      height: 160px;
    }
  }

  .ownerInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
  }

  .ownerName {
    font-weight: 600;
    margin: 0;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 20px 10px;

  @include media-rules(desktop) {
    padding: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-bg);
  padding: 10px 0;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  box-shadow: var(--logo-shadow);

  @include media-rules(tablet) {
    width: 64px;
    height: 64px;
  }
}
