.userPage {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-rules(tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 120px;
  }
}

.themeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  @include media-rules(notebook) {
    padding: 120px 0;
  }
}

.random {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 0;

  @include media-rules(notebook) {
    padding: 0 40px 40px;
    gap: 20px;
  }

  .title {
    margin: 0;
    padding: 0 10px;

    @include media-rules(notebook) {
      padding: 0;
    }
  }
}
