.following {
  padding: 10px;
  width: 100%;
  background-color: var(--white);

  &.darkMode {
    background-color: var(--grey);
  }

  @include media-rules(desktop) {
    padding: 10px 20px;
    border-radius: 44px;
  }

  .userList {
    display: flex;
    gap: 20px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .userItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;

    .avatar {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .name {
      font-size: 12px;
      font-weight: 600;
      text-align: center;
    }
  }
}
