.following {
  padding: 0 10px;
  width: 100%;

  @include media-rules(desktop) {
    padding: 0;
  }

  .userList {
    display: flex;
    gap: 20px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-rules(desktop) {
      gap: 40px;
    }
  }

  .userItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;

    .avatar {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      font-weight: 600;
      text-align: center;
    }
  }
}
