.following {
  .userList {
    display: flex;
    gap: 40px;
    overflow-x: auto;
  }

  .userItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    .avatar {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      font-weight: 600;
      text-align: center;
    }
  }
}
