@import 'src/styles/mixins';

.container {
  padding: 40px;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  /* Зображення переходять на новий рядок при необхідності */
  gap: 10px;
  /* Проміжок між зображеннями */
  justify-content: center;
  /* Вирівнювання зображень по центру */
}

.imageWrapper {
  width: 100px;
  /* Ширина контейнера для зображення */
  height: 100px;
  /* Висота контейнера для зображення */
  overflow: hidden;
  /* Сховати частини зображення, що виходять за межі */
  border-radius: 8px;
  /* Закруглені кути */
  border: 1px solid #ddd;
  /* Обвідка */
  display: flex;
  align-items: center;
  /* Вертикальне вирівнювання зображення по центру */
  justify-content: center;
  /* Горизонтальне вирівнювання зображення по центру */
}

.productImage {
  width: 100%;
  /* Зображення займає всю ширину контейнера */
  height: auto;
  /* Висота автоматично налаштовується відповідно до пропорцій */
  object-fit: cover;
  /* Зображення заповнює контейнер без спотворень */
  cursor: pointer;
  /* Курсор у вигляді руки при наведенні */
}

.productList {
  list-style-type: none;
  padding: 0;
}

.productItem {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}

.filterButtons {
  margin-bottom: 20px;

  button {
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
}
