$padding-desktop: 40px;
$padding-tablet: 20px;
$padding-mobile: 10px;

.productDetails {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .namePrice {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-size: 14px;
    margin: 0;

    @include media-rules(tablet) {
      font-size: 18px;
    }

    @include media-rules(notebook) {
      font-size: 20px;
    }
  }

  .location {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .description {
    font-size: 14px;

    @include media-rules(notebook) {
      font-size: 16px;
      height: 220px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .editForm {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .input,
    .textarea {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-family: var(--font-family);
      background-color: inherit;

      &.darkMode {
        color: var(--white);
      }

      &::-webkit-scrollbar {
        display: none;
      }

      @include media-rules(notebook) {
        font-size: 16px;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
  }
}
