.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal {
  background-color: var(--white);
  // box-shadow: var(--logo-shadow);
  padding: 40px 20px;
  width: 100vi;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include media-rules(tablet) {
    width: 80vi;
    height: 90vh;
    border-radius: 44px;
    padding: 40px;
  }

  &.darkMode {
    background: linear-gradient(to bottom right, var(--black), var(--grafite));
    color: var(--white);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  font-size: 24px;

  @include media-rules(notebook) {
    font-size: 24px;
    @include transition(transform);
  }
}
