.formGroup {
  .inputPlz {
    display: flex;
    position: relative;

    input {
      width: 100%;
      padding: 14px 20px;
      background-color: inherit;
      font-size: 14px;
      border-radius: 44px;
      background-color: var(--grafite);
      border: none;
      color: var(--white);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      &::placeholder {
        color: var(--white);
      }

      &:focus {
        border-color: var(--white);
        outline: none;
      }
    }

    .clearButton {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
    }

    .icon {
      font-size: 18px;
      color: var(--white);
    }
  }

  span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
}
