@import 'src/styles/mixins';

.formGroup {

    .inputPlz {
        display: flex;
        position: relative;
    
        input {
            width: 100%;
            padding: 6px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;

            @media (min-width: $tablet) {
                padding: 8px;
            }
            
            @media (min-width: $desktop) {
                padding: 10px;
            }
        }

        .clearButton {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
        }

        .icon {
            font-size: 18px;
        }
    }

    span {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        display: block;
    }
}