.replyContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border-width: 0 0 1px 1px;
  border-bottom-left-radius: 24px;
  border-style: solid;
  border-color: var(--light-grey);
}

.reply {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include media-rules(notebook) {
    gap: 8px;
  }
}

.replyInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatarText {
  display: flex;
  gap: 20px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.textarea {
  width: 100%;
  height: auto;
  resize: none;
  font-family: var(--font-family);
  background-color: inherit;
  font-size: 14px;
  border: none;
  outline: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.darkMode {
    color: var(--white);
  }

  @include media-rules(desktop) {
    font-size: 16px;
    height: auto;
  }
}

.text {
  font-size: 14px;

  @include media-rules(notebook) {
    font-size: 16px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.replyList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.replyText {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  @include media-rules(notebook) {
    font-size: 16px;
    padding-left: 60px;
  }
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  @include media-rules(notebook) {
    gap: 10px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;

  @include media-rules(notebook) {
    @include transition(transform);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 600px;
}
