.menuContainer {
  position: fixed;
  gap: 20px;
  top: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  width: 80%;
  height: 100vh;
  z-index: 100;

  @include media-rules(tablet) {
    width: 50%;
  }

  &.darkMode {
    background-color: var(--grafite);
    color: var(--white);
  }

  @include media-rules(notebook) {
    top: 10%;
    right: 0;
    width: 330px;
    border-radius: 44px;
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 20px;
  margin: 0;

  .item {
    gap: 10px;
    width: 100%;
    @include transition(color);

    .iconItem {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        font-size: 24px;
      }
    }

    @include media-rules(notebook) {
      text-align: start;
    }

    &:hover {
      color: var(--red);
    }
  }
}

.divider {
  height: 1px;
  background-color: var(--light-grey);
  width: 100%;
}

.userInfo {
  display: flex;
  gap: 10px;

  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
}
