@import 'src/styles/mixins';

$form-gap-desktop: 16px;
$form-gap-tablet: 12px;
$form-gap-mobile: 18px;

.imagesGroup {
    display: flex;
    flex-wrap: wrap;

    input[type='file'] {
        display: none;
    }

    .customButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 180px;
        background-color: #68686831;
        border: 2px solid var(--grey);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #4b4b4b;
        }

        .icon {
            font-size: 24px;
        }
    }
}