.imagesGroup {
  display: flex;
  flex-wrap: wrap;

  input[type='file'] {
    display: none;
  }

  .customButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 174px;
    background-color: var(--grafite);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      background-color: var(--grey);
    }

    @include media-rules(tablet) {
      width: 180px;
      height: 180px;
    }

    .icon {
      font-size: 24px;
    }

    .previewImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
