@import 'src/styles/mixins';

$form-gap-desktop: 16px;
$form-gap-tablet: 12px;
$form-gap-mobile: 8px;

.formGroup {
    display: flex;
    gap: 10px;
    margin-bottom: $form-gap-desktop;

    @media (max-width: $desktop) {
        margin-bottom: $form-gap-tablet;
    }

    @media (max-width: $tablet) {
        margin-bottom: $form-gap-mobile;
    }

    input[type='file'] {
        display: none;
    }

    .customButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 240px;
        background-color: #68686831;
        border: 2px solid var(--grey);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        overflow: hidden;

        &:hover {
            background-color: #4b4b4b;
        }

        .previewImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}